#
# direnv configuration.
#
# https://direnv.net
#

# Watch Nix flake sources.
watch_dir inputs

# Use nix-direnv instead of the built-in support.
#
# https://github.com/direnv/direnv/wiki/Nix
if ! has nix_direnv_version || ! nix_direnv_version 3.2.0; then
	source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.2.0/direnvrc" "sha256-hW6NC1JHue3IjZN3uDM6l6I2PMaauqd2D7hXYJ1Zfr4="
fi

# Use Nix (flake).
use flake

# ⛔ There should be nothing else! Use Nix for everything.
